<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Simple test suite" verbose="1" >
    <test name="User test" >
        <classes>
            <class name="PetclinicHomeworks.UItests.AddNewOwnerTests" />
            <class name="PetclinicHomeworks.UItests.AddNewVeterinarianTests" />
            <class name="PetclinicHomeworks.UItests.AddNewPetTypeTests" />
            <class name="PetclinicHomeworks.UItests.AddNewSpecialtyTests" />
        </classes>
    </test>

</suite>